<h1>New Note!</h1>

<%= form_for @note do |f| %>
  <%= f.label :subject %>
  <%= f.text_field :subject %>

  <%= f.label :author %>
  <%= f.text_field :author %>

  <%= f.label :date %>
  <%= text_field :date %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.submit %>

<% end %>